@media (max-width: 600px){
    .gameboard{
        max-width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1200px){
    .gameboard{
        max-width: 65%;
    }
}

@media (min-width: 1201px){
    .gameboard{
        max-width: 52%;
    }
}

.game-mode{
    position: absolute;
    top: 0px;
    color: black;
    background-color: white;
    border: 3px solid black;
}

.turn-indicator{
    position:absolute;
    color: black;
    top: 0px;
    right: 40px;
    background-color:white;
    border: 3px solid black;
}

#zombie{
    left: 45px;
}

#base{
    left: 110px;
}

#ex{
    left: 85px;
}

.gameboard{
    justify-content: center;
    margin: 0 auto;
}

#chessboard{
    position: relative;
    margin: 0;
}

#flipbutton{
    position:absolute;
    right: 90px;
    top: 100px;
}

#undobutton{
    position:absolute;
    right:105px;
    top: 170px;
}
#resignbutton{
    position:absolute;
    right:100px;
    top: 240px;
}

#blacklabel{
    position:absolute;
    right: 10px;
    bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 3px solid black;
}

#whitelabel{
    position:absolute;
    left: 10px;
    bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 3px solid black;
}

#toggleEX{
    position: absolute;
    right: 85px;
    top: 310px;
}
