@media (max-width: 600px){
    .gameboard{
        max-width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1200px){
    .gameboard{
        max-width: 65%;
    }
}

@media (min-width: 1201px){
    .gameboard{
        max-width: 52%;
    }
}

.game-mode{
    position: absolute;
    top: 0px;
    color: black;
    background-color: white;
    border: 3px solid black;
}

.turn-indicator{
    position:absolute;
    color: black;
    top: 0px;
    right: 40px;
    background-color:white;
    border: 3px solid black;
}

#zombie{
    left: 45px;
}

#base{
    left: 110px;
}

#ex{
    left: 85px;
}

.meter {
    width: 280px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
}

.built-meter{
    height: 30px;
    background-color:lightblue;
    z-index: 1;
}

.meter-stack{
    font-size: 25px;
    color:black;
    z-index: 2;
}

#p1-meter{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#p2-meter{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#p1-built-meter{
    width: 230px;
    position: absolute;
    bottom: 12px;
    left: 12px;
}
#p2-built-meter{
    width: 150px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#p1-meter-stack{
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#p2-meter-stack{
    position: absolute;
    bottom: -4px;
    right: 20px;
}

.gameboard{
    justify-content: center;
    margin: 0 auto;
}

#chessboard{
    position: relative;
    margin: 0;
}