.title-screen {
  background-color:black;
  color:white;
  text-align: center;
  vertical-align: center;
}

#title {
  font-size: 80px;
  margin-bottom: 30px;
  padding: 20px;
}
  
button {
  background-color:white;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}